@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Livvic", sans-serif;
  }

  body {
    @apply bg-primary text-neutral-50 min-h-screen;
  }

  :root {
    --primary: #014e56;
    --secondary: #f67e7e;
    --primary-300: #79c8c7;
    --primary-500: #2c6269;
    --primary-700: #004047;
    --neutral-50: #ffffff;
    --neutral-800: #012f34;
    --neutral-850: #002529;
  }
}

@layer components {
  .inner-container {
    @apply mx-auto;
    max-width: 87.2%;
  }

  .outer-container {
    @apply mx-auto;
  }

  @media screen(md) {
    .inner-container {
      max-width: 89.6%;
    }

    .outer-container {
      max-width: 48rem;
    }
  }

  @media screen(xl) {
    .inner-container {
      max-width: 69.375rem;
    }

    .outer-container {
      max-width: 90rem;
    }
  }
}

@layer components {
  .title-xl {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  @media screen(md) {
    .title-xl {
      font-size: 4rem;
      line-height: 3.5rem;
    }
  }

  @media screen(xl) {
    .title-xl {
      font-size: 6.25rem;
      line-height: 6.25rem;
    }
  }

  .title-lg {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  @media screen(md) {
    .title-lg {
      font-size: 4rem;
      line-height: 3.5rem;
    }
  }

  @media screen(xl) {
    .title-lg {
      font-size: 4rem;
      line-height: 6.25rem;
    }
  }

  .title-md {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
  }

  @media screen(md) {
    .title-md {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  @media screen(xl) {
    .title-md {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  .title-sm {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .body-xl {
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.75rem;
  }

  @media screen(md) {
    .body-xl {
      font-size: 0.9375rem;
      line-height: 1.75rem;
    }
  }

  @media screen(xl) {
    .body-xl {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  .body-md {
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }
}

@layer components {
  .navbar-pattern {
    @apply absolute bottom-0 right-0 overflow-hidden;
    width: 6.25rem;
    height: 12.5rem;
  }

  .navbar-pattern::before {
    @apply absolute bg-no-repeat bg-center bg-contain bottom-0 left-0;
    content: "";
    width: 12.5rem;
    height: 12.5rem;
    background-image: url(/patterns/bg-pattern-about-1-mobile-nav-1.svg);
  }

  .hero-bottom-pattern {
    @apply absolute mx-auto left-0 right-0 bottom-0;
    width: min(95.47vw, 22.375rem);
  }

  .hero-bottom-pattern::before {
    @apply block bg-no-repeat bg-center bg-contain w-full;
    content: "";
    padding-bottom: 27.93%;
    background-image: url(/patterns/bg-pattern-home-2.svg);
  }

  @media screen(xl) {
    .hero-bottom-pattern {
      margin-left: auto;
      margin-right: calc(50% - 34.375rem);
    }
  }

  .hero-side-pattern-wrapper {
    @apply hidden;
  }

  @media screen(xl) {
    .hero-side-pattern-wrapper {
      @apply block absolute left-0 top-0 overflow-hidden;
      width: 6.25rem;
    }

    .hero-side-pattern {
      @apply w-full;
      padding-bottom: 200%;
    }

    .hero-side-pattern::before {
      @apply absolute h-full top-0 right-0 block bg-no-repeat bg-center bg-contain;
      content: "";
      width: 200%;
      background-image: url(/patterns/bg-pattern-home-1.svg);
    }
  }

  .features-pattern-wrapper {
    @apply block absolute right-0 top-0 overflow-hidden;
    width: 6.25rem;
  }

  .features-pattern {
    @apply w-full;
    padding-bottom: 244%;
  }

  .features-pattern::before {
    @apply absolute h-full top-0 left-0 block bg-no-repeat bg-center bg-contain;
    content: "";
    width: 200%;
    background-image: url(/patterns/bg-pattern-home-3.svg);
  }

  @media screen(xl) {
    .features-pattern-wrapper {
      @apply bottom-0;
      top: auto;
    }
  }

  .testimonials-pattern::before{
    @apply absolute block bg-no-repeat bg-contain bg-center top-0 left-0;
    content: '';
    width: 9.1875rem;
    height: 6.25rem;
    background-image: url(/patterns/bg-pattern-home-4-about-3.svg);
  }

  .testimonials-pattern::after{
    @apply absolute block bg-no-repeat bg-contain bg-center bottom-0 right-0;
    content: '';
    width: 12.5rem;
    height: 6.25rem;
    background-image: url(/patterns/bg-pattern-home-5.svg);
  }
}
